<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..//static/style.css">
    <script defer src="..//static/actions.js"></script>
    <title>Document</title>
</head >
<body style= "font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <div class="header">
        <header class="all">
            <h1 >Yaniv Ephod Tours</h1>
            <h3>Private Tours in Israel</h3>
        </header>
  
    <nav class="nav_bar">
        <a href="home_page.html">Home Page</a>
        <a href="contact.html">Contact</a>
    </nav>
    
    <div >
        <h3 id="h3">Contact Us</h3>
    </div>
    <span>
        <form id="form"  action="url" method="post">
            <label for="first name">first name :</label> 
            <input style="margin:  5px;" type="text" id = "first name" name = "first name" required><br>
            <label for="last name">last name :</label>
            <input style="margin:  5px;" type="text" id = "full name" name = "last name" required><br>
            <label for="email">Email :</label>
            <input style="margin:  5px;" type="email" id = "email" name = "email"><br>
            <label for="free text">Free text :</label> <br>
            <input style="margin: 5px; width: 6cm ;height: 3cm;" type="text" id = "free text" name = "free text"><br>
            <label for="email">It is your first time ? :</label>
            <input style="margin:  5px;" type="checkbox" id="scales" name="scales" checked>
            <label style="margin:  5px;" for="scales">Yes</label><br>
    
        </form>
        <button id="button" onclick="submit(this)">Submit</button>
    </span>
</body>
</html>
